h1, h2, body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #b6c2d9;
}
#first {
  background-color: #5b8bb4;
}
.details {
  background-color: #9e90a2;
}
a[href] {
  font-family: "Trebuchet MS", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* unvisited link */
a:link {
  color: #272932;
}
/* move over link */
a:focus, a:hover {
  color: #828489;
}
/* selected link */
a:active {
  color: #5b8bb4;
}
/* visited link */
a:visited {
  color: #9e90a2;
}
img {
  float: left;
  margin-right: 1em;
}
/* chapter 5 css box model */
body {
  border: 3px dotted #828489;
  margin: 15px;
}
main {
  border: 2px solid #5b8bb4;
  width: 400px;
  margin: 20px;
  padding: 10px;
}
h1, h2 {
  padding-left: 15px;
}